
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e8e8df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    width: 350px;
    padding: 30px;
    background-color: #fff5e1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#toggle-password {
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #669bbc;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #557a9c;
}


#message {
    margin-top: 20px;
    text-align: center;
}

